* {
	margin: 0;
	padding: 0;
}

.main {
	width: 984px;
	background-color: purple;
	padding: 10px;
	border-left: 5px solid green;
}

.heading {
	font-size: 32px;
	color: white;
	text-decoration: underline;
}